{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["import"],
  "rules": {
    "import/order": "warn",
    "react/display-name": "off",
    "arrow-parens": "warn",
    "comma-dangle": ["warn", "always-multiline"],
    "import/namespace": "off"
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  }
}
